.clist-ul
{
}

.clist-li
{
}

.clist-li.selected
{
    font-weight: bold;
}

.plist-ul
{
}

.plist-li
{
}

.p-date
{
    font-style: italic;
}

.footer
{
    font-size: small;
}

.caution
{
    color: red;
    font-weight: bold;
}
